/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  padding:3em, 3em;
}

/* nav & menu */
h1 {
font-family: baskerville-urw,serif;
font-weight: 300;
font-style: normal;
font-size: 30px;
}

.menu-link {
  font-family: acumin-pro,sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  color:lightgrey;
  letter-spacing: 1,25px;
  text-decoration: none;
  list-style: none;
}

li {
	text-decoration: none;
	list-style: none;
}

.menu-link:hover {
	color: black;
}

nav {
	height: 100%;
	background-color: white;
	line-height: 1em;

	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: row-reverse; 
}


nav ul {
	display: flex;
}

nav li {
	margin-left: 50px;
}

nav input, label {
	display: none;
}
/* nav & menu */


/*slider*/

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
  }
  
  
  .slider-foto {
	display: none;
  }
  
  /* volgende & terug buttons */
  .terug, .volgende { 
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  
  .volgende {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  

  .terug:hover, .volgende:hover {
	background-color: rgba(0,0,0,0.8);
  }
  

/*slider*/





/*gallerij*/
.gallerij {

  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
}

.foto {
  padding: 10px;
  width: 380px;
    
  

}
/*gallerij*/


/* WORK PAGE */

.foto-work {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 1fr;
	gap: 10px 20px;
	

}

.foto-work img {
	width: 100%;
	padding-left: 10px;
}
	























@media only screen and (max-width: 550px) {

	nav h1 {
		font-size: 1.2;
		justify-content: center;
  	}
  

	/* nav & menu */
	nav {

		height: 100%;
		position: sticky;
		background-color: white;
		top: 0;

		display: flex;
		justify-content: space-between;
		
	

		padding: 15px;

		margin: 0;
	}


	nav label {
		display: block;
		font-size: 1.5em;
		line-height: 1em;
		
	}

	ul {
		display: flex;
		flex-direction: column;
		transform:translateY(-100em);
	
		transition: 0.5s;
	}


	#toggle:checked + ul {
		transform:translateY(0);
		opacity: 100;
    }

	.menu {
		position: absolute;
		top: 50px;
		left: 0;

		width: 100%;
		height: 100vh;
		background-color: white;
		padding-top: 50%;
	}

	nav li {
		margin: 30px 0;
	}

	.menu-link {
		font-size: 1.5em;
	}
	/* nav & menu */
	
	/*slider*/
	.slider {
		width: 100%;
		
	}
	/*slider*/

	/*gallerij*/ 
	.gallerij {
		flex-direction: column-reverse;
		align-items: center;
	}

	.foto {
		object-fit: fill;		
	}
	/*gallerij*/ 







}