/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  padding:3em, 3em;
}

/* nav & menu */
h1 {
font-family: baskerville-urw,serif;
font-weight: 300;
font-style: normal;
font-size: 30px;

}

h1 a {
	text-decoration: none;
	color: black;
}

.menu-link {
  font-family: acumin-pro,sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  color:lightgrey;
  letter-spacing: 1,25px;
  text-decoration: none;
  list-style: none;
}

li {
	text-decoration: none;
	list-style: none;
}

.menu-link:hover {
	color: black;
}

nav {
	height: 100%;
	background-color: white;
	line-height: 1em;

	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: row-reverse; 
}


nav ul {
	display: flex;
}

nav li {
	margin-left: 50px;
}

nav input, label {
	display: none;
}
/* nav & menu */


/*header*/

header {
	display: flex;
	justify-content: center;
	
	
	

}

.chocolade {
	width: 1132px;
	padding: 10px;
}



/*header*/






/*gallerij*/
.container-gallerij {

  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
}

.foto {
  padding: 10px;
  width: 380px;

}

p {
	text-align: center;
	font-family: interface,sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size: 15px;
}

h3 { 
	text-align: center;
	font-family: interface,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;

}



/*gallerij*/

/*footer*/
footer {
	text-align: center;
	padding: 3px;
	color:grey;
	font-family: interface,sans-serif;
	font-weight: 100;
	font-style: normal;
  }

/*footer*/


/* WORK PAGE */
.grid {
	padding: 50px;
}

.foto-work {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	gap: normal;
}

.gridfoto {
	
	width: 380px;
}


/* WORK PAGE */
	























@media only screen and (max-width: 550px) {

	nav h1 {
		font-size: 1.2;
		justify-content: center;
  	}
  

	/* nav & menu */
	nav {

		height: 100%;
		position: sticky;
		background-color: white;
		top: 0;

		display: flex;
		justify-content: space-between;
		
	

		padding: 15px;

		margin: 0;
	}


	nav label {
		display: block;
		font-size: 1.5em;
		line-height: 1em;
		
	}

	ul {
		display: flex;
		flex-direction: column;
		transform:translateY(-100em);
	
		transition: 0.5s;
	}


	#toggle:checked + ul {
		transform:translateY(0);
		opacity: 100;
    }

	.menu {
		position: absolute;
		top: 50px;
		left: 0;

		width: 100%;
		height: 100vh;
		background-color: white;
		padding-top: 50%;
	}

	nav li {
		margin: 30px 0;
	}

	.menu-link {
		font-size: 1.5em;
	}
	/* nav & menu */
	
	/*header*/

	header {
		display: flex;
		justify-content: center;
		max-width: 100%;
	}
	.chocolade {
		width: 380px;
		padding: 10px;

	}
	
	/*header*/

	/*gallerij*/ 
	.container-gallerij {
		flex-direction: column-reverse;
		align-items: center;
	}

	.foto {
		object-fit: fill;		
	}
	/*gallerij*/ 








}