/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  padding:3em, 3em;
}

/* nav & menu */
h1 {
font-family: baskerville-urw,serif;
font-weight: 300;
font-style: normal;
font-size: 30px;
text-align: center;

}

h1 a {
	text-decoration: none;
	color: black;
}


nav {
background-color: transparent;
overflow: auto;
white-space: nowrap;
display: flex;
justify-content: center;

}
  
nav a {
font-family: acumin-pro,sans-serif;
font-weight: 200;
font-style: normal;
font-size: 20px;

color: lightgrey;
text-align: center;
letter-spacing: 1,25px;
padding: 14px;
text-decoration: none;


}
  
nav a:hover {
color:black;
}

/* nav & menu */


/*header*/

header {
	display: flex;
	justify-content: center;

}

.chocolade {
	width: 1132px;
	padding: 10px;
}

/*header*/

/*darkmode*/

button {
text-decoration: none;
padding: 10px;
color: #fff;
background-color: black;
border: 5px solid black;
box-shadow: 2px 5px grey(0,0,0,.1);
font-family: interface,sans-serif;
text-shadow: 0 1px 2px grey(0, 0, 0, 0.1);
letter-spacing: 2px;
transform: skewX(-12deg);
transition: transform .3s cubic-bezier(0,1,.5,1);
}


button:hover {
transform: translateY(-2px) scale(1.03);
box-shadow: 5px 8px rgba(0,0,0,.1);
}

button:active {
transform: translateX(-2px); 
}

.nachtmodus {
	display: flex;
	justify-content: center;
}

.darkmodus {
	justify-content: center;
}

.darkmode {
	background-color: black;
}

.darkmode button {
	border: 1px solid white;
    background: black;
    color: white; 
}

.darkmode p {
    color: white;
}

.darkmode label {
    color: white;
}

.darkmode h3 {
	color: white;
}

.darkmode h1 a {
	color: white;
}


/*darkmode*/


/*gallerij*/
.container-gallerij {

  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
}

.foto {
  padding: 10px;
  width: 380px;

}

.seemore {
	text-decoration: none;
	padding: 10px;

}

p {
	text-align: center;
	font-family: interface,sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size: 15px;
}

h2 { 
	text-align: center;
	font-family: interface,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;

}
/*gallerij*/

/*chocolade-page*/

.chocolade-img {
	justify-content: center;
	display: flex;
}






















/*footer*/
footer {
	text-align: center;
	padding: 3px;
	color:grey;
	font-family: interface,sans-serif;
	font-weight: 100;
	font-style: normal;
  }

/*footer*/





@media only screen and (max-width: 550px) {

	h1 {
		font-family: baskerville-urw,serif;
		font-weight: 300;
		font-style: normal;
		font-size: 20px;
		text-align: center;
		
		}
		
		h1 a {
			text-decoration: none;
			color: black;
		}
		
		
		nav {
		background-color: transparent;
		overflow: auto;
		white-space: nowrap;
		display: flex;
		justify-content: center;
		
		}
		  
		nav a {
		font-family: acumin-pro,sans-serif;
		font-weight: 200;
		font-style: normal;
		font-size: 15px;
		
		color: lightgrey;
		text-align: center;
		letter-spacing: 1,25px;
		padding: 14px;
		text-decoration: none;
		
		
		}
		  
		nav a:hover {
		color:black;
		}
	
	
	
	
	/*header*/

	header {
		display: flex;
		justify-content: center;
		max-width: 100%;
	}
	.chocolade {
		width: 380px;
		padding: 10px;

	}
	
	/*header*/

	/*gallerij*/ 
	.container-gallerij {
		flex-direction: column-reverse;
		align-items: center;
	}

	.foto {
		object-fit: fill;		
	}
	/*gallerij*/ 


	








}